list                              tuple                            set                      dictionary
indexed                           indexed                          unindexed                 unindexed
ordered                           ordered                           unordered                 ordered
mutable                           immutable                         mutable                    mutable
heterogenous                      heterogenous                    heterogenous                 heterogenous
have duplicate                   have duplicate               only uniques values             have duplicate
just values                       just values                   just values                      key values pair
[]                                   ()                              {}                        {}
list()                             tuple()                           set()                     dict()

# list
- creating
- indexing n slicing (same as string)
- methods
- comprehension

In [1]:
a = [] # empty list
b = [1,2,3,4] # numerical list
c = ['apple','banana','cherry'] # string list
d = ['apple', 1,'banana', 2,'cherry', 3] # mixed list
e = [[1,2,3],[4,5,6],[7,8,9]] # list of lists
f = [['apple', 1],['banana', 2],['cherry', 3, 120]] # mixed nested list
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['apple', 1], ['banana', 2], ['cherry', 3, 120]]

In [3]:
for i in c:
    print(i)
for i in d:
    print(i)
for i in e:
    print(i)
for i in f:
    print(i)

apple
banana
cherry
apple
1
banana
2
cherry
3
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
['apple', 1]
['banana', 2]
['cherry', 3, 120]

In [5]:
g = list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1,2,3] * 5 # duplicated list
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
movies = ['wish', 'lapata ladies', 'yoddha','crew','deadpool']
print(movies)
print(len(movies))
print('first movie: ',movies[0])
print('last movie: ',movies[-1])
print('second movie: ',movies[1])
print('third movie: ',movies[2])

['wish', 'lapata ladies', 'yoddha', 'crew', 'deadpool']
5
first movie:  wish
last movie:  deadpool
second movie:  lapata ladies
third movie:  yoddha

In [10]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[:3]) # 0,1,2
print(numbers[-3:]) # 7,8,9
print(numbers[2:-2]) # everything except first two and last two
print(numbers[::-1])

[1, 2, 3]
[8, 9, 10]
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# list methods (11)
- adding/updating
  - `append()`
  - `extend()`
  - `insert()`
- removing/deletion
   - `remove()`
   - `pop()`
   - `clear()`
- utility
   - `sort()`
   - `reverse()`
   - `index()`
   - `count()`
   - `copy()`

In [11]:
fav_books = []
hated_books = []
for i in range(5):
    book = input('Enter your favorite book: ')
    fav_books.append(book)
for i in range(3):
    book = input('Enter your hated book: ')
    hated_books.append(book)

print('Favorite books: ',fav_books)
print('Hated books: ',hated_books)

Favorite books:  ['November 9', 'Ram', 'It ends with us', 'Reminders Of him', 'Sita']
Hated books:  ['isc Biology', 'ICSE Chemistry', 'art book']

In [12]:
hated_books.append('Julius Caesar') # add to the end
print(hated_books)

['isc Biology', 'ICSE Chemistry', 'art book', 'Julius Caesar']

In [13]:
# merge two lists and create a new list
books = fav_books + hated_books
print(books)

['November 9', 'Ram', 'It ends with us', 'Reminders Of him', 'Sita', 'isc Biology', 'ICSE Chemistry', 'art book', 'Julius Caesar']

In [15]:
# adding a list to existing list
books.extend(['Legion','Rithmatist','Steelheart'])
print(books)
print('Total Books: ',len(books))

['November 9', 'Ram', 'It ends with us', 'Reminders Of him', 'Sita', 'isc Biology', 'ICSE Chemistry', 'art book', 'Julius Caesar', 'Legion', 'Rithmatist', 'Steelheart']
Total Books:  12

In [19]:
books.insert(4,'King of Wrath')
print(books)

['November 9', 'Ram', 'It ends with us', 'Reminders Of him', 'King of Wrath', 'King of Wrath', 'Sita', 'isc Biology', 'ICSE Chemistry', 'art book', 'Julius Caesar', 'Legion', 'Rithmatist', 'Steelheart']

In [20]:
books[10] = 'Pygmalion' # replace at index 10
books

['November 9',
 'Ram',
 'It ends with us',
 'Reminders Of him',
 'King of Wrath',
 'King of Wrath',
 'Sita',
 'isc Biology',
 'ICSE Chemistry',
 'art book',
 'Pygmalion',
 'Legion',
 'Rithmatist',
 'Steelheart']

In [24]:
books.remove('Steelheart') # remove by value

In [25]:
books.pop(8) # remove by index

'ICSE Chemistry'

In [26]:
books.pop() # remove last element

'Legion'

In [27]:
books

['November 9',
 'Ram',
 'It ends with us',
 'Reminders Of him',
 'King of Wrath',
 'King of Wrath',
 'Sita',
 'isc Biology',
 'art book',
 'Pygmalion']

In [28]:
hated_books.clear() # remove all elements
hated_books

[]

# wap to create an empty list , then fill the list with 10 prime numbers using a loop, starting with two