list                              tuple                            set                      dictionary
indexed                           indexed                          unindexed                 unindexed
ordered                           ordered                           unordered                 ordered
mutable                           immutable                         mutable                    mutable
heterogenous                      heterogenous                    heterogenous                 heterogenous
have duplicate                   have duplicate               only uniques values             have duplicate
just values                       just values                   just values                      key values pair
[]                                   ()                              {}                        {}
list()                             tuple()                           set()                     dict()

# list
- creating
- indexing n slicing (same as string)
- methods
- comprehension

In [1]:
a = [] # empty list
b = [1,2,3,4] # numerical list
c = ['apple','banana','cherry'] # string list
d = ['apple', 1,'banana', 2,'cherry', 3] # mixed list
e = [[1,2,3],[4,5,6],[7,8,9]] # list of lists
f = [['apple', 1],['banana', 2],['cherry', 3, 120]] # mixed nested list
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['apple', 1], ['banana', 2], ['cherry', 3, 120]]

In [3]:
for i in c:
    print(i)
for i in d:
    print(i)
for i in e:
    print(i)
for i in f:
    print(i)

apple
banana
cherry
apple
1
banana
2
cherry
3
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
['apple', 1]
['banana', 2]
['cherry', 3, 120]

In [5]:
g = list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1,2,3] * 5 # duplicated list
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
movies = ['wish', 'lapata ladies', 'yoddha','crew','deadpool']
print(movies)
print(len(movies))
print('first movie: ',movies[0])
print('last movie: ',movies[-1])
print('second movie: ',movies[1])
print('third movie: ',movies[2])

['wish', 'lapata ladies', 'yoddha', 'crew', 'deadpool']
5
first movie:  wish
last movie:  deadpool
second movie:  lapata ladies
third movie:  yoddha

In [10]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[:3]) # 0,1,2
print(numbers[-3:]) # 7,8,9
print(numbers[2:-2]) # everything except first two and last two
print(numbers[::-1])

[1, 2, 3]
[8, 9, 10]
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# list methods (11)
- adding/updating
  - `append()`
  - `extend()`
  - `insert()`
- removing/deletion
   - `remove()`
   - `pop()`
   - `clear()`
- utility
   - `sort()`
   - `reverse()`
   - `index()`
   - `count()`
   - `copy()`

In [11]:
fav_books = []
hated_books = []
for i in range(5):
    book = input('Enter your favorite book: ')
    fav_books.append(book)
for i in range(3):
    book = input('Enter your hated book: ')
    hated_books.append(book)

print('Favorite books: ',fav_books)
print('Hated books: ',hated_books)

Favorite books:  ['November 9', 'Ram', 'It ends with us', 'Reminders Of him', 'Sita']
Hated books:  ['isc Biology', 'ICSE Chemistry', 'art book']

In [12]:
hated_books.append('Julius Caesar') # add to the end
print(hated_books)

['isc Biology', 'ICSE Chemistry', 'art book', 'Julius Caesar']

In [13]:
# merge two lists and create a new list
books = fav_books + hated_books
print(books)

['November 9', 'Ram', 'It ends with us', 'Reminders Of him', 'Sita', 'isc Biology', 'ICSE Chemistry', 'art book', 'Julius Caesar']

In [15]:
# adding a list to existing list
books.extend(['Legion','Rithmatist','Steelheart'])
print(books)
print('Total Books: ',len(books))

['November 9', 'Ram', 'It ends with us', 'Reminders Of him', 'Sita', 'isc Biology', 'ICSE Chemistry', 'art book', 'Julius Caesar', 'Legion', 'Rithmatist', 'Steelheart']
Total Books:  12

In [19]:
books.insert(4,'King of Wrath')
print(books)

['November 9', 'Ram', 'It ends with us', 'Reminders Of him', 'King of Wrath', 'King of Wrath', 'Sita', 'isc Biology', 'ICSE Chemistry', 'art book', 'Julius Caesar', 'Legion', 'Rithmatist', 'Steelheart']

In [20]:
books[10] = 'Pygmalion' # replace at index 10
books

['November 9',
 'Ram',
 'It ends with us',
 'Reminders Of him',
 'King of Wrath',
 'King of Wrath',
 'Sita',
 'isc Biology',
 'ICSE Chemistry',
 'art book',
 'Pygmalion',
 'Legion',
 'Rithmatist',
 'Steelheart']

In [24]:
books.remove('Steelheart') # remove by value

In [25]:
books.pop(8) # remove by index

'ICSE Chemistry'

In [26]:
books.pop() # remove last element

'Legion'

In [27]:
books

['November 9',
 'Ram',
 'It ends with us',
 'Reminders Of him',
 'King of Wrath',
 'King of Wrath',
 'Sita',
 'isc Biology',
 'art book',
 'Pygmalion']

In [28]:
hated_books.clear() # remove all elements
hated_books

[]

### wap to create an empty list , then fill the list with 10 prime numbers using a loop, starting with two

In [24]:
prime = []
c = 0
val = 0
for i in range(2,100):
    for j in range(1,i+1):
        if i % j == 0:
            c = c + 1
    if c == 2:
        prime.insert(val,i)
        val = val + 1 
    c = 0
    if val == 10:
        break
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [1]:
numbers = [12,45,67,86,23,14,4,6,10,98,1]
# reverse
numbers[::-1] # gives the result but doesn't change the original list

[1, 98, 10, 6, 4, 14, 23, 86, 67, 45, 12]

In [2]:
numbers.reverse() # changes the original list

In [3]:
print(numbers)

[1, 98, 10, 6, 4, 14, 23, 86, 67, 45, 12]

In [5]:
numbers.sort() # ascending order, changes the original list
print(numbers)
numbers.sort(reverse=True) # descending order
print(numbers)

[1, 4, 6, 10, 12, 14, 23, 45, 67, 86, 98]
[98, 86, 67, 45, 23, 14, 12, 10, 6, 4, 1]

In [6]:
x= [[1,12],[2,5],[5,10],[4,15]]
x.sort() # sort by first el of each sublist
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [10]:
x.sort(key= lambda e: e[1])
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [11]:
x.sort(key= lambda i: sum(i))
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [13]:
users = [('Alice',25),('Bob',19),('Alex',35)]
users.sort(key= lambda e: e[1])
print(users)

[('Bob', 19), ('Alice', 25), ('Alex', 35)]

In [15]:
cart = [['mobile', 25000, 2],
        ['laptop',60000, 1],
        ['watch',3000, 3],
        ['headphones', 1500, 2]]
cart.sort(key= lambda i: i[-1]) 
print(cart)

[['laptop', 60000, 1], ['mobile', 25000, 2], ['headphones', 1500, 2], ['watch', 3000, 3]]

In [16]:
a = [1,2,3,4,23,1,2,4,4,5,5,6,7]
print("1 occurs:",a.count(1))
print("5 occurs:",a.count(5))
print("10 occurs:",a.count(10))

1 occurs: 2
5 occurs: 2
10 occurs: 0

In [18]:
numbers.index(12) # gives the index of 12 (first occurence)

6

In [19]:
a = [1,2,3,4,5]
b = a.copy() # shallow copy (new list with same element)
c = a # reference copy (both a and c refer to same list)
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]

## comprehension

syntax: new_list = [operation loop(condition)]

In [21]:
x = [1,3,2,5]
x2 = [i**2 for i in x]
print(x2)

[1, 9, 4, 25]

In [30]:
a = [1,2,3,4,5]
a3 = [i**3 for i in a]
print(a) 
print(a3)
a5 = [i-5 for i in a]
print(a5)

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]
[-4, -3, -2, -1, 0]

In [28]:
# rookie way
aodd2 = []
for i in a:
    if i%2 !=0:
        aodd2.append(i**2)
# pythonic way
aeven2 = [i**2 for i in a if i%2==0]
print(aeven2)
# map and filter
# aodd2 = list(map(lambda i: i**2, filter(lambda i: i%2!=0,a))) # not good

[4, 16]

In [35]:
names = ['Alice Smith','Bob Brown','Charlie Green','David White']
initials = []
for i in names:
    initials.append(f"{i.split()[0][0]}{i.split()[1][0]}")
    print(initials)

# comprehension
initials = [f"{i.split()[0][0]}{i.split()[1][0]}" for i in names]
print(initials)

['AS']
['AS', 'BB']
['AS', 'BB', 'CG']
['AS', 'BB', 'CG', 'DW']
['AS', 'BB', 'CG', 'DW']

## tuples
- creating
- indexing and slicing
- methods
- packing and unpacking

In [3]:
x = () # empty tuple
y = (1,) # single element tuple
z = (1,2,3,4,5) # multiple element tuple
a = ((1,2),(3,4),(5,6)) # nested tuple
b = ('a',1,'b',2,'c',3) # mixed tuple
c = (1,) * 5 # duplicated tuple
d = tuple('stormlight archives') # tuple from string
e = tuple(range(10)) # sequence to tuple
print(x,y,z)
print(a)
print(b)
print(c)
print(d)
print(e)

() (1,) (1, 2, 3, 4, 5)
((1, 2), (3, 4), (5, 6))
('a', 1, 'b', 2, 'c', 3)
(1, 1, 1, 1, 1)
('s', 't', 'o', 'r', 'm', 'l', 'i', 'g', 'h', 't', ' ', 'a', 'r', 'c', 'h', 'i', 'v', 'e', 's')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
print(e)
print(e[4::-1]) # -1 makes this go in reverse order
print(e[4:])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(4, 3, 2, 1, 0)
(4, 5, 6, 7, 8, 9)

In [7]:
# index (search) and count methods
fruits = ('apple','banana','cherry','apple','cherry')
print(fruits.index('apple'))
print(fruits.index('apple',1)) # search starts from index 1
print(fruits.count('apple')) # counts the occurences of apple
print(fruits.count('banana')) # counts the occurences of banana
print(fruits.count('mango')) # counts the occurences of mango

0
3
2
1
0

In [8]:
x = 1,2,3 # tuple packing
print(x)

(1, 2, 3)

In [10]:
def stats(*data):
    total = sum(data)
    avg = total/ len(data)
    return total, round(avg,2) # round method to round off to 2 decimal places

In [11]:
s = stats(12,35,29,59,23,45)
print(s)

(203, 33.83)

In [12]:
a,b = 12, 45 # tuple unpacking
print(a,b)

12 45

In [ ]:
# unpacking error

# a,b,c = 12,45 # error
# a,b = 12,45,78 # error
# total , mean, max = stats(12,35,29,59,23,45) # error

In [13]:
a,b,*c = (1,2,3,4,5,5,5) # c is a list
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 5, 5]

In [15]:
a,*b,c = (1,2,3,4,5,5,5) # b is a list
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 5]
5

In [16]:
*a,b,c = (1,2,3,4,5,5,5) # a is a list
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
5
5

# set
- creating
- methods
- set operations
  - union
  - intersection
  - difference
  - symmetric difference
  - issubset
  - issuperset

In [20]:
x = set() # empty set
y = {1,2,3,4,5} # set with elements
z= {1,2,2,3,3,4,4,5,5,5} # set removes duplicates
print(x)
print(y)
print(z)

set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [21]:
a = set('hello') # set from string
print(a)

{'l', 'o', 'e', 'h'}

In [22]:
b = set([23,5,45,65,45,12,45,6])
print(b)
c = set(range(10))
for i in c:
    print(i, end =' ')

{65, 5, 6, 12, 45, 23}
0 1 2 3 4 5 6 7 8 9

In [23]:
data = set() # empty set
data.add(12) # add element
data.add(2) # add element
data.add(12) # add element
data.add(5) # add element
print(data)

{2, 12, 5}

In [24]:
data.update([23,45,67,89]) # add multiple elements
print(data)

{2, 67, 5, 12, 45, 23, 89}

In [26]:
data.discard(23) # remove element
data.remove(45) # remove element (error if not present)
print(data)

{2, 67, 5, 12, 89}

In [27]:
data.pop() # remove random element
print(data)
data.clear() # remove all elements
print(data)

{67, 5, 12, 89}
set()

In [28]:
# operations
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {11,12,13}
print(a.union(b))
print(a | b) # | is a union operator

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
print(a.intersection(b))
print(a & b) # & is a union operator

In [29]:
print(a.difference(b))
print(a - b) # - is a union operator
print(b - a)
print(b.difference(a))

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [30]:
print(a.symmetric_difference(b))
print(a ^ b) # ^ is symmetric difference operator

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [31]:
print(a|c)
print(a&c)
print(a-c)
print(a^c)

{1, 2, 3, 4, 5, 11, 12, 13}
set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11, 12, 13}

In [34]:
d = {1,2,3}
print(a.issuperset(b))
print(a.issuperset(c))
print(a.issuperset(d))

False
False
True

In [35]:
print(d.issubset(a))
print(d.issubset(b))
print(d.issubset(c))

True
False
False

In [36]:
print(a.isdisjoint(b))
print(a.isdisjoint(c))
print(a.isdisjoint(d))

False
True
False

# conversion

In [37]:
a = [1,2,3,4,5]
a_set = set(a)
a_tuple = tuple(a)
print(a)
print(a_set)
print(a_tuple)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)

In [38]:
a_list = list(a_set)
print(a_list)

[1, 2, 3, 4, 5]

In [40]:
x = [1,2,3,3,4,5,5,6,5,1,1,1,1,1]
print(x)
x = list(set(x)) # set -> remove duplicates -> list -> x
print(x)

[1, 2, 3, 3, 4, 5, 5, 6, 5, 1, 1, 1, 1, 1]
[1, 2, 3, 4, 5, 6]