# Programming flow
- conditional flow
   - if
   - if else
   - if elif else
   - match case
- iterative flow
   - for loop
   - while loop

In [2]:
if 'hello' :
    print('Hello everyone')

Hello everyone

In [3]:
x = 'hello'
if len(x) >= 5:
    print('Hello everyone')

Hello everyone

In [5]:
a = int(input('Enter a number:'))
if a * 2 > 100 : 
    print('a * 2 is greater than 100')
if a + 50 > 150 : 
    print('a + 50 is greater than 100')

a * 2 is greater than 100
a + 50 is greater than 100

In [6]:
x = int(input('Enter a number:'))
if x % 2 == 0:
    print('x is even')
else:
    print('x is odd')

x is even

WAP to find out the total salary of the employee based on the following data
```
salary : user inputed
hra = 5%
da = 3.3 %
ta = 2.61 %
```

`total = salary + da + ta + hra`

*rule*
`if hra is less than 1000 then don't add hra to total`

In [3]:
salary = int(input('Enter your salary:'))
da = (3.3/100) * salary 
ta = (2.61/100) * salary
hra = (5/100) * salary
if hra < 1000:
    total = salary + da + ta
    print(total)
else :
    total = salary + da + ta + hra
    print(total)

499095.0

In [3]:
name = input('What movie did you watch')
num_str = input('Enter movie rating')
if num_str.isnumeric():
    num = int(num_str)
    print(f"Movie: {name}")
    if num == 1:
        print('⭐ (terrible')
    elif num == 2:
        print('⭐⭐ (bad)')
    elif num == 3:
        print('⭐⭐⭐ (average)')
    elif num == 4:
        print('⭐⭐⭐⭐ (good)')
    elif num == 5:
        print('⭐⭐⭐⭐⭐ (excellent)')
    else:
        print('⚠ Invalid rating ⚠')
else:
    print('You are stupid, just watch movies')

Movie: Wish
⭐⭐⭐ (average)

In [6]:
# match case - use this to match multiple values
day = input('Enter a day of the week: ')
match day.lower():
    case 'monday'|'tuesday'|'wednesday'|'friday':
        print('Data science/Data analysis class')
    case 'thursday':
        print('Class Off')
    case 'saturday'|'sunday' :
        print('Weekend (no class)')
    case _: # default day
        print('Invalid day')

Data science/Data analysis class

# Single line condition

In [7]:
x = int(input('Enter a number:'))
"above 100" if x > 100 else "below 100"

'above 100'

#### for loop
- step based
- traversal
```
for var in iterable:
   statement...
```
#### while loop
- condition based

In [8]:
for v in 'helloooo':
    print(v)

h
e
l
l
o
o
o
o

In [9]:
colors = ['red', 'green', 'blue']
for i in colors:
    print(i)

red
green
blue

In [10]:
# index and value
for i, v in enumerate(colors):
    print(i, v)

0 red
1 green
2 blue

In [13]:
numlist = [12, 56, 7, 2, 6, 10, 20]
for num in numlist:
    print(f'{num:>2} => {num * 10}')

12 => 120
56 => 560
 7 => 70
 2 => 20
 6 => 60
10 => 100
20 => 200

In [18]:
seq = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num = 13
for n in seq:
    print(f'{num} * {i} = {n*i}')

13
26
39
52
65
78
91
104
117
130

- range(value) => `start from 0 go till value -1`
- range(a,b) => `start from a go till b-1`
- range(a,b,c) => `start from a go till b-1 with c as step (gap)`

In [19]:
num = 13
for i in range(1,11):
    print(f'{num} * {i} = {n*i}')

13 * 1 = 10
13 * 2 = 20
13 * 3 = 30
13 * 4 = 40
13 * 5 = 50
13 * 6 = 60
13 * 7 = 70
13 * 8 = 80
13 * 9 = 90
13 * 10 = 100

In [2]:
# only even numbers
for i in range(0,101,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [23]:
# reverse loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

- nested loop
- break and continue
- for-else

In [13]:
for i in range(1, 11):
    for j in range(1,4):
        print(i, j, end = ',')
    print()

1 1,1 2,1 3,
2 1,2 2,2 3,
3 1,3 2,3 3,
4 1,4 2,4 3,
5 1,5 2,5 3,
6 1,6 2,6 3,
7 1,7 2,7 3,
8 1,8 2,8 3,
9 1,9 2,9 3,
10 1,10 2,10 3,

In [16]:
cdata = [
    [1, 'John', 25],
    [2, 'Jane', 22],
    [3, 'Doe', 30, 'Engineer']
]

for row in cdata:
    for item in row:
        print(item, end=' | ')
    print()

1 | John | 25 |
2 | Jane | 22 |
3 | Doe | 30 | Engineer |

In [20]:
more_data = [
    [[12,45,67],[23,45,67],[34,56,78]],
    [[23,45,23], [34,56,78]]
]

for i in more_data:
    for j in i:
        for k in j:
           print(k, end=' ')
        print()
    print()

12 45 67
23 45 67
34 56 78

23 45 23
34 56 78

In [21]:
x = [1,2,3,4,5,-1,6,7,8,9,10]
for i in x:
    if i < 0:
        break
    print(i)
print('loop executed')

1
2
3
4
5
loop executed

In [23]:
data_with_crap = [1,2,3,'4','5',6,'7',8,9,'10',11,'12',13,14,15]
for i in data_with_crap:
    if isinstance(i, str):
        continue
    print(i, end=' ')

#########alternative########
print('\nalternate way')
for i in data_with_crap:
    if isinstance(i, int):
        print(i, end=' ')

1 2 3 6 8 9 11 13 14 15
alternate way
1 2 3 6 8 9 11 13 14 15

In [29]:
# adding a check for loop completion
data = [1,2,3,4,5,6,7,8,9,10]
stop_val = int(input('Enter a number to stop at: '))
counter = 0
for i in data:
    if stop_val == i:
        break
    print(i)
    counter += 1
print(f'count: {counter}')
if counter == len(data):
    print('Loop completed all steps')

1
2
3
4
count: 4

In [33]:
data = [1,2,3,4,5,6,7,8,9,10]
stop_val = int(input('Enter a number to stop at: '))
for i in data:
    if stop_val == i:
        print(f'Loop stopped at {i}')
        break
    print(i)
else:
    print('Loop completed all steps')

1
2
3
Loop stopped at 4