# Strings
- 1-10 done in strings file
- 23-25 also done in strings file

In [1]:
# 11
a = 15
print(f'The variable is {a}')

The variable is 15

In [5]:
# 12
s1 = 'python '
s2 = 'is '
s3 = 'great.'
mainstr = s1 + s2 + s3
print(mainstr)

python is great.

In [7]:
#13
print(" ".rjust(20,'#'))

###################

In [9]:
#14
for num in range(1, 10):
    print(f'{num}.')
print()

1.
2.
3.
4.
5.
6.
7.
8.
9.

In [11]:
#15
sen = input("Enter a sentence: ")
word = sen.split()
print("\n".join(word))

My
name
is
Srishti

In [23]:
#16
str = input('Enter a sentence: ')
str.endswith('?')

True

In [21]:
#17
line = input("Enter a line: ")
print(line.count('e'))

2

In [22]:
#18
num = input("Enter something: ")
num.isdigit()

True

In [24]:
#19
text = '   this is not a good string           '
text.strip()

'this is not a good string'

In [27]:
#20
data = input("Enter a string: ")
for capital in data:
    if capital.isupper():
        print("found")
        break

found

In [28]:
#21
names = 'Joe, David, Mark, Tom, Chris, Robert'
names.split()

['Joe,', 'David,', 'Mark,', 'Tom,', 'Chris,', 'Robert']

In [1]:
#22
text = 'this is some text'
real = text.split()
for i in real:
    newtext = i + 'aye'
    print(newtext)

thisaye
isaye
someaye
textaye

# Loops

In [33]:
#1
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [36]:
#2
n = 15
a = 1
while(a<11):
    print(f'{n} * {a} = {n*a}')
    a = a+1

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [42]:
#3
s = 0
for even in range(0,101,2):
    s = s + even
print(s)

2550

In [51]:
#4
num = 25
i = 25 
c = 0
while i > 0:
    if num % i == 0:
        c = c + 1 
    i = i - 1
if c > 2:
    print('Not Prime')
else:
    print('Prime')

Not Prime

In [55]:
#5
f = 1 
for fact in range(1,6):
    f = f * fact
print(f)

120

In [59]:
#6
a = 0
b = 1
print(a)
print(b)
for i in range(2,11):
    c = a + b 
    a = b
    b = c 
    print(c)

0
1
1
2
3
5
8
13
21
34
55

In [61]:
#7
max = 0
list = [12, 23, 134, 56, 67, 78, 90, 108]
for el in list:
    if el > max:
        max = el
print(max)

134

In [67]:
#8
str = "Hello"
rev = ''
length = len(str)
while length > 0:
    rev = rev + str[length -1]
    length = length - 1
print(rev)

olleH

In [73]:
#9
from string import ascii_uppercase
for alpha in ascii_uppercase:
    value = ord(alpha)
    print(value)

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [84]:
#10
str = 'wow'
palin = ''
length = len(str)
for word in str:
    palin = word + palin
if(palin == str):
    print("Palindrome")
else:
    print('Non-palindrome')

Palindrome

In [10]:
#11
list_num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = 0
c = 0
avg = 0
for el in list_num:
    total = total + el
    c = c + 1
avg = total / c
print(f'the average of the list is: {avg:.2f}')

the average of the list is: 5.50

In [19]:
#12
list_numbers = [12, 34, 56, 78, 90, 23, 45, 9, 2, 100]
length = len(list_numbers)
count = 1
small = list_numbers[0]
while count != length:
    if list_numbers[count] < small:
        small = list_numbers[count]
    count = count + 1
print(f'The smallest element is: {small}')

The smallest element is: 2

In [4]:
#13
number = input('Enter a number: ')
s = 0
for digit in number:
    s = s + int (digit)
print(s)

15

In [23]:
#14
data = list(range(2001, 2011))
size = len(data)
part = 0
c = 0
while  part != size:
    if data[part] % 4 == 0:
        c = c + 1
        break
    else:
        part = part + 1
if c > 0:
    print('The list have a leap year in it')
else:
    print('The list does not have a leap year in it')

The list have a leap year in it

In [28]:
#15
table_num = [1, 2, 3, 4, 5]
for piece in table_num:
    for table in range(1,11):
        print(table * piece, end=" ")
    print()
print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [31]:
#16
num = int(input("Enter a number"))
f = 1
for fact in range(1, num+1):
    f = f * fact
print(f)

120

In [32]:
#17
str = input("Enter a sentence: ")
str = str.lower()
vowel = 0
for alpha in str:
    if alpha == 'a' or alpha == 'e' or alpha == 'i' or alpha == 'o' or alpha == 'u':
        vowel = vowel + 1
print(f'The number of vowels are: {vowel}')

The number of vowels are: 5

In [38]:
#18
arr = [16, 27, 38, 45, 90, 100, 1, 35, 67, 98]
max = arr[0]
min = arr[0]
for el in arr:
    if el > max:
        max = el
    if el < min:
        min = el
print(f'The largest element of the array is: {max}')
print(f'The smallest element of the array is: {min}')

The largest element of the array is: 100
The smallest element of the array is: 1

In [44]:
#19
sen = input('Enter a sentence: ')
sen = sen + ' '
word = ''
new_sen = ''
for alphabet in sen:
    if alphabet != ' ':
        word = word + alphabet
    else:
        new_sen = word + ' ' + new_sen
        word = ''
print(new_sen)

you are how hello

# Lists

In [3]:
#1
list = []
for i in range(10):
    list.append(int(input('Enter a number: ')))
print(list)

[45, 56, 54, 23, 12, 7, 8, 9, 10, 49]

In [6]:
#2
numbers = [12,34,56,21,38,90,67,76,54,1]
c = 0
search = int(input('Enter a number: '))
for i in numbers:
    if search == i:
        print('The number is in the list')
        c = c + 1
if c == 0:
    print('The number is not in the list')

The number is in the list

In [15]:
#3
names = ['ayush','shreya','mansi','omi','om']
names.sort()
print(names)

['ayush', 'mansi', 'om', 'omi', 'shreya']

In [1]:
#4
num = [12,34,56,65,40,100,2,5,67,10]
num.sort()
print(num[-1])

100

In [1]:
#5
list1 = [12,23,34,43,32,21,56,65,90,10]
list2 = [10,45,65,78,90,99,37,83,92,21]
for el in list1:
    for num in list2:
        if el == num:
            print(el)

21
65
90
10

In [9]:
#6 error
filename = ['file1.img', 'file2.img', 'file3.img', 'file4.jpg', 'file5.jpg', 'file6.jpg']
f = lambda i: i.endswith('.img')
clean_name = list(filter(f,filename))
print(clean_name)

['file1.img', 'file2.img', 'file3.img']

In [1]:
#7
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_list[-1][0])

7

In [11]:
#8
num = [1,2,2,3,4,5,5,5,3,6]
num_set = set(num)
num_list = list(num_set)
print(num_list)

[1, 2, 3, 4, 5, 6]

In [12]:
#9
name = ['omi','om','shiv','srishti','khushi']
long = ''
for each in name:
    if len(each) > len(long):
        long = each
print(long)

srishti

In [17]:
#10
number = [34,43,5,65,11,90,12,2,46,77]
total = 0
for every in number:
    if every % 2 == 0:
        total = total + every
print(total)

184

In [48]:
#11
data = [45,67,89,54,42,34,11,90,12,2]
item = int(input("Enter the position of the number to be removed: "))
data.pop(item)
print(data)

[45, 67, 89, 54, 34, 11, 90, 12, 2]

In [21]:
#12
names = ['ayush','shreya','mansi','omi','om']
final_str = ''.join(names)
print(final_str)

ayushshreyamansiomiom

In [3]:
#13
data = [45,67,89,54,42,34,11,90,12,2]
if len(data) % 2 == 0:
    median = (len(data)+1)//2
else:
    median = (len(data)//2)+((len(data)//2)+1)
print(data[median])

34

In [38]:
#14
names.reverse()
print(names)

['om', 'omi', 'mansi', 'shreya', 'ayush']

In [4]:
#15
list_num = [12,23,45,67,85,66,42,23,45,14]
for value in list_num:
    avg = sum(data) / len(data)
print(avg)

44.6

In [7]:
#16
list_num = [12,23,45,67,85,66,42,23,45,14]
print(list_num.index(67))

3

In [6]:
#17
str = [' ram',' sita  ','ravaan','war of lanka ',' immortals of meluha']
new_str = []
for el in str:
    new_str.append(el.strip())
print(new_str)

['ram', 'sita', 'ravaan', 'war of lanka', 'immortals of meluha']

In [8]:
#18
list_num.sort(reverse = True)
print(list_num)

[85, 67, 66, 45, 45, 42, 23, 23, 14, 12]

In [9]:
#19
num = int(input("Enter a number: "))
list_num.insert(0,num)
print(list_num)

[45, 85, 67, 66, 45, 45, 42, 23, 23, 14, 12]

In [7]:
#20
list1 = [12,23,34,43,32,21,56,65,90,10]
list2 = [10,45,65,78,90,99,37,83,92,21]
list1.extend(list2)
print(list1)

[12, 23, 34, 43, 32, 21, 56, 65, 90, 10, 10, 45, 65, 78, 90, 99, 37, 83, 92, 21]

In [13]:
#21
numlist[10] = int(input('Enter a number: '))
newlist = list(map(lambda i: i ** 2, numlist))
print(newlist)

IndexError: list assignment index out of range

In [ ]:
2