In [1]:
from dputils.scrape import Scraper, Tag

In [2]:
url = 'https://www.flipkart.com/motorola-edge-50-pro-5g-68w-charger-black-beauty-256-gb/p/itmb3f6625c5c896?pid=MOBGXFXYDG8YRZU4&lid=LSTMOBGXFXYDG8YRZU4SAX9WW&marketplace=FLIPKART&store=tyy%2F4io&srno=b_1_1&otracker=browse&fm=organic&iid=ace38f80-151a-41b0-a079-b620b88b8ec9.MOBGXFXYDG8YRZU4.SEARCH&ppt=hp&ppn=homepage&ssid=vj43l0oe680000001721542596100'
s1 = Scraper(url)

In [3]:
heading= Tag('h1', cls='_6EBuvT')
price = Tag(cls='Nx9bqj CxhGGd')
desc = Tag(cls='U+9u4y')
review = Tag(cls='RcXBOT')
results = s1.get_data_from_page(heading=heading, price=price, desc=desc, review=review)

multiple items from a single page

In [4]:
items = Tag(cls='cPHDOP col-12-12')
url = "https://www.flipkart.com/tyy/4io/~cs-33irmtdz82/pr?sid=tyy%2C4io&collection-tab-name=Moto+Edge+50+pro+5g&param=279892&ctx=eyJjYXJkQ29udGV4dCI6eyJhdHRyaWJ1dGVzIjp7InZhbHVlQ2FsbG91dCI6eyJtdWx0aVZhbHVlZEF0dHJpYnV0ZSI6eyJrZXkiOiJ2YWx1ZUNhbGxvdXQiLCJpbmZlcmVuY2VUeXBlIjoiVkFMVUVfQ0FMTE9VVCIsInZhbHVlcyI6WyJGcm9tIOKCuTI3LDk5OSoiXSwidmFsdWVUeXBlIjoiTVVMVElfVkFMVUVEIn19LCJ0aXRsZSI6eyJtdWx0aVZhbHVlZEF0dHJpYnV0ZSI6eyJrZXkiOiJ0aXRsZSIsImluZmVyZW5jZVR5cGUiOiJUSVRMRSIsInZhbHVlcyI6WyJtb3Rvcm9sYSBlZGdlIDUwIFBybyJdLCJ2YWx1ZVR5cGUiOiJNVUxUSV9WQUxVRUQifX0sImhlcm9QaWQiOnsic2luZ2xlVmFsdWVBdHRyaWJ1dGUiOnsia2V5IjoiaGVyb1BpZCIsImluZmVyZW5jZVR5cGUiOiJQSUQiLCJ2YWx1ZSI6Ik1PQkdYRlhZTVRLQU1QVFMiLCJ2YWx1ZVR5cGUiOiJTSU5HTEVfVkFMVUVEIn19fX19"
s2 = Scraper(url)
results = s2.get_repeating_date_from_page(
    target = Tag('body'),
    items = items,
    title = Tag(cls='KzDlHZ'),
    price = Tag(cls='Nx9bqj _4b5DiR'),
    ratings = Tag('span', cls='Wphh3N')
)

In [5]:
import pandas as pd
pd.DataFrame(results)

,title,price,ratings
0,None,None,None
1,None,None,None
2,Motorola Edge 50 Pro 5G with 125W Charger (Can...,"₹31,999","52,273 Ratings & 3,487 Reviews"
3,Motorola Edge 50 Pro 5G with 125W Charger (Lux...,"₹31,999","52,273 Ratings & 3,487 Reviews"
4,Motorola Edge 50 Pro 5G with 125W Charger (Moo...,"₹31,999","52,273 Ratings & 3,487 Reviews"
5,Motorola Edge 50 Pro 5G with 125W Charger (Bla...,"₹31,999","52,273 Ratings & 3,487 Reviews"
6,Motorola Edge 50 Pro 5G with 125W Charger (Van...,"₹31,999","52,273 Ratings & 3,487 Reviews"
7,None,None,None
8,None,None,None

In [6]:
items = Tag(cls='s-result-item')
title = Tag('span', cls='a-size-base-plus a-color-base a-text-normal')
url ='https://www.amazon.in/s?k=shoes&crid=2OAOAMZS2EVJY&sprefix=shoe%2Caps%2C306&ref=nb_sb_noss_1'
s3 = Scraper(url)
results = s3.get_repeating_date_from_page(
    target = Tag('body'),
    items = items,
    title = title,
    brand = Tag('h2', cls='a-size-mini s-line-clamp-1')
)
pd.DataFrame(results).dropna()

Empty DataFrame
Columns: []
Index: []

In [7]:
start = 1
term = 'shoes'
all_data = []
while True:
    url = f"https://www.amazon.in/s?k={term}&page={start}&crid=2OAOAMZS2EVJY&qid=1721544045&sprefix=shoe%2Caps%2C306&ref=sr_pg_2"
    sc = Scraper(url)
    results = sc.get_repeating_date_from_page(
        target = Tag('body'),
        items = items,
        title = title,
        brand = Tag('h2', cls='a-size-mini s-line-clamp-1')
    )
    if len(results) == 0:
        break
    all_data.extend(results)
    start += 1

df = pd.DataFrame(all_data).dropna()
df

Empty DataFrame
Columns: []
Index: []

# sqlalchemy -> ORM(object relational mapping)

In [8]:
from sqlalchemy import create_engine, Table, Column, Integer, String, DateTime
from sqlalchemy.orm import Session, declarative_base
from datetime import datetime

Base = declarative_base()

class News(Base):
    __tablename__ = 'news'
    id = Column(Integer, primary_key=True)  # auto increment
    title = Column(String, unique=True)
    content = Column(String)
    posted_by = Column(String)
    image = Column(String)
    created_at = Column(DateTime, default= datetime) # auto timestamp

engine = create_engine("sqlite:///news.sqlite", echo = True) 
Base.metadata.create_all(engine)

2025-02-02 16:58:07,815 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-02 16:58:07,815 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news")
2025-02-02 16:58:07,815 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:07,815 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("news")
2025-02-02 16:58:07,815 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:07,826 INFO sqlalchemy.engine.Engine
CREATE TABLE news (
	id INTEGER NOT NULL,
	title VARCHAR,
	content VARCHAR,
	posted_by VARCHAR,
	image VARCHAR,
	created_at DATETIME,
	PRIMARY KEY (id),
	UNIQUE (title)
)


2025-02-02 16:58:07,826 INFO sqlalchemy.engine.Engine [no key 0.00056s] ()
2025-02-02 16:58:07,833 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
from dputils.scrape import Scraper, Tag
url='https://www.ndtv.com/latest/page-2'
news_scraper = Scraper(url)
items = Tag(cls='news_Itm')
img_src = Tag('img', output='src')
title = Tag('h2', cls='newsHdng')
post = Tag('span', cls='posted-by')
content = Tag('p', cls='newsCont')
target = Tag('body')
out = news_scraper.get_repeating_date_from_page(
    target = target, items=items, 
    image=img_src, title=title, 
    post=post, content=content
)
from pprint import pp
db = Session(engine)
for entry in out:
    try:
        db.add(
            News(
                title = entry['title'],
                content = entry['content'],
                posted_by = entry['post'],
                image = entry['image']
        ))
    except Exception as e:
        print(e)

db.commit()
db.close()

In [10]:
import pandas as pd
news_df = pd.read_sql('news', engine)

2025-02-02 16:58:08,375 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-02 16:58:08,379 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news")
2025-02-02 16:58:08,379 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,382 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-02 16:58:08,382 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,388 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-02 16:58:08,389 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,389 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("news")
2025-02-02 16:58:08,389 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,392 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-02 16:58:08,392 INFO sqlalchemy.engine.Engine [raw sql] ('news',)
2025-02-02 16:58:08,392 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("news")
2025-02-02 16:58:08,397 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,398 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("news")
2025-02-02 16:58:08,398 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,401 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-02 16:58:08,403 INFO sqlalchemy.engine.Engine [raw sql] ('news',)
2025-02-02 16:58:08,405 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("news")
2025-02-02 16:58:08,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,408 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news")
2025-02-02 16:58:08,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,412 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("news")
2025-02-02 16:58:08,413 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,415 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex_news_1")
2025-02-02 16:58:08,415 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-02 16:58:08,419 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-02 16:58:08,419 INFO sqlalchemy.engine.Engine [raw sql] ('news',)
2025-02-02 16:58:08,419 INFO sqlalchemy.engine.Engine SELECT news.id, news.title, news.content, news.posted_by, news.image, news.created_at
FROM news
2025-02-02 16:58:08,419 INFO sqlalchemy.engine.Engine [generated in 0.00095s] ()
2025-02-02 16:58:08,431 INFO sqlalchemy.engine.Engine ROLLBACK