- creating
- indexing and slicing
- methods
- tips n tricks

In [4]:
a = 'apple'
b = "apple"
c = '''this is
very useful
in multiline messages
'''
d = str(8329)

In [7]:
# types of strings
# f-string
x = f'{a} is a fruit'
print(x)
# raw string
addr = r'c:\users\zaid\desktop'
print(addr)
# unicode string
uni = u'hello'
print(uni)
# byte string
byt = b'hello'
print(byt)

apple is a fruit
c:\users\zaid\desktop
hello
b'hello'

In [9]:
v = 'encyclopedia'
print(v[0]) # first index
print(v[1]) # second index
print(v[2]) # third index
print(v[11]) # last index
print(v[-1]) # last index
print(v[-12]) # first index
print('second last', v[-2])
print('sixth last', v[-6])

e
n
c
a
a
e
second last i
sixth last o

slicing in python
```
x[start: stop]
```

In [1]:
a = 'Encyclopedia'
print(len(a))
print(a[2:8]) # last index is not included

12
cyclop

In [3]:
name = 'Vijay Deenanath Chauhan'
firstname = name[0:5]
print(firstname)
middlename = name[6:15]
print(middlename)
lastname = name[16:23]
print(lastname)

Vijay
Deenanath
Chauhan

In [4]:
name[:5] # first 5 characters

'Vijay'

In [5]:
name[6:] # from 6th index to end

'Deenanath Chauhan'

In [6]:
name[16:] # from 16th idx to end

'Chauhan'

In [7]:
msg = "Journey Before Destination"
msg[-11:]

'Destination'

In [11]:
msg = 'Once upon a time, there was a place called eternia'
msg[-7:]

'eternia'

In [10]:
msg[:16]

'Once upon a time'

In [14]:
amt = "$800999"
newamt = amt[1:]
num = int(newamt)
print(num)

800999

In [15]:
msg[::2] # every 2nd character (even index)

'Oc pnatm,teewsapaecle tri'

In [17]:
msg[1::2] # every 2nd character (odd index)

'neuo  ie hr a  lc aldeena'

In [18]:
# most OP thing in slicing
msg[::-1] # reverse the string

'ainrete dellac ecalp a saw ereht ,emit a nopu ecnO'

In [19]:
msg[::-1][:5]

'ainre'

In [21]:
name[6:15][::-1]

'htananeeD'

string methods
- formatting
- validation
- find & replace
- etc.

In [27]:
quote = "All the glitter is not GoldðŸ’›"
quote_upper = quote.upper()
print(quote)
print(quote_upper)
quote_lower = quote.lower()
print(quote_lower)
quote_capatalize = quote.capitalize()
print(quote_capatalize)
quote_title = quote.title()
print(quote_title)
quote_casefold = quote.casefold()
print(quote_casefold)
quote_swap = quote.swapcase()
print(quote_swap)

All the glitter is not GoldðŸ’›
ALL THE GLITTER IS NOT GOLDðŸ’›
all the glitter is not goldðŸ’›
All the glitter is not goldðŸ’›
All The Glitter Is Not GoldðŸ’›
all the glitter is not goldðŸ’›
aLL THE GLITTER IS NOT gOLDðŸ’›

In [28]:
quote.rjust?

Signature: quote.rjust(width, fillchar=' ', /)
Docstring:
Return a right-justified string of length width.

Padding is done using the specified fill character (default is a space).
Type:      builtin_function_or_method

In [31]:
quote.rjust(50,'_')

'______________________All the glitter is not GoldðŸ’›'

In [33]:
quote.center(50,'-')

'-----------All the glitter is not GoldðŸ’›-----------'

In [34]:
name.isnumeric()

False

In [35]:
fname = input("Enter your name: (don't use numbers)")
if fname.isalpha():
    print("valid name, very good")
else:
    print("What kind of name is this?")

valid name, very good

In [37]:
# find and index methods for searching in strings
msg.find('place') # returns the index of the first occurence of the substring

30

In [40]:
data = 'Roshar is a place of magic and wonder, place of knights and kings. Its a place of highstorms and sharpblades'
print(data.find("place"))
print(data.find('place', 13)) # 13 is the starting index for searching
print(data.find('Place')) # -1 means not found
print(data.lower().find('place')) # -1 means not found
# reverse find
print(data.rfind('place')) # returns the index of the last occurence of the substring

12
39
-1
12
73

In [41]:
# replace method
data.replace('place','ðŸŒŽ')

'Roshar is a ðŸŒŽ of magic and wonder, ðŸŒŽ of knights and kings. Its a ðŸŒŽ of highstorms and sharpblades'

In [42]:
data.replace('o','a')

'Rashar is a place af magic and wander, place af knights and kings. Its a place af highstarms and sharpblades'

In [43]:
data.replace('i','e').replace('k','c').replace('a','b')

'Roshbr es b plbce of mbgec bnd wonder, plbce of cneghts bnd cengs. Its b plbce of heghstorms bnd shbrpblbdes'

In [44]:
data.replace(' ','_', 3)

'Roshar_is_a_place of magic and wonder, place of knights and kings. Its a place of highstorms and sharpblades'

In [1]:
fruits = input("Enter names of fruits")
print(len(fruits))
print(fruits)
fruitlist = fruits.split()
print(fruitlist)

26
apple banana cherry durian
['apple', 'banana', 'cherry', 'durian']

In [3]:
'This is some message'.split()

['This', 'is', 'some', 'message']

In [4]:
quote = "Life before death, strength before weakness, journey before destination"
quote.split(',')

['Life before death',
 ' strength before weakness',
 ' journey before destination']

In [5]:
quote.split('before')

['Life ', ' death, strength ', ' weakness, journey ', ' destination']

In [6]:
poem = '''Johnny Johnny, yes papa
eating sugar? no papa
telling lies? no papa
open your mouth, ha ha ha'''
poem.splitlines()

['Johnny Johnny, yes papa',
 'eating sugar? no papa',
 'telling lies? no papa',
 'open your mouth, ha ha ha']

In [7]:
addr = ['C:','users','zaid','desktop','file.txt']
"/".join(addr)

'C:/users/zaid/desktop/file.txt'

In [10]:
data = input("Enter ur name, month and year of birth separated by comma: ")
words = data.split(',')
print(words)
name = "_".join(words)
print(f'img_{name}.jpg')

['alex', 'dec', '1880']
img_alex_dec_1880.jpg

In [11]:
#1
str = 'My name is Srishti'
print(str)

My name is Srishti

In [12]:
#2
s = input("Enter your name: ")
print(len(s))

7

In [19]:
#3
p = 'Python is great'
print(p[10:])

great

In [23]:
#4
py = 'python is everywhere'
print(py[:6])
print(py[7:9])
print(py[10:])

python
is
everywhere

In [20]:
#5
wel = 'Hello, World!'
print(wel[::-1])

!dlroW ,olleH

In [21]:
#6
he = 'How are you?'
print(he.upper())

HOW ARE YOU?

In [24]:
#7
life = 'How Is It Going?'
print(life.lower())

how is it going?

In [27]:
#8
sen = 'Python is easy to learn'
sen1 = sen.split()
" ".join(sen1)

'Python is easy to learn'

In [28]:
#9
print( '''Hi! My name is Srishti
Hope u r fine
lets party!!!''')

Hi! My name is Srishti
Hope u r fine
lets party!!!

In [48]:
#10
print("to move to newline '\\n' is used.")
print(r"to move to newline '\n' is used.")

to move to newline '\n' is used.
to move to newline '\n' is used.

In [49]:
# count method
n = quote.count('before')
print(f'before occurs {n} times in the quote')

before occurs 3 times in the quote

In [50]:
quote.count('e')

13

In [51]:
'Mr Bean'.startswith('Mr')

True

In [52]:
'Mr Bean'.startswith('Ms')

False

In [53]:
name = input('Enter ur name')
if name.startswith('Mr'):
    print('Hello Sir')
else:
    print('This is a meeting of gentlemen only')

This is a meeting of gentlemen only

In [61]:
filename = input('Enter filename')
print(f"filename: {filename}")
if filename.endswith('.csv'):
    print("Dataset file")
elif filename.endswith('.txt'):
    print("Text file")
elif filename.endswith('.jpg'):
    print("Image file")
else:
    print("Invalid")

filename: yaya.csv
Dataset file

In [57]:
# strip 
movie = input('Enter movie name:')
clean_movie = movie.strip()
print(movie)
print(clean_movie)
print(f'movie: {len(movie)}')
print(f'clean name: {len(clean_movie)}')

 wish
movie: 5
clean name: 4

In [58]:
'  hello'.strip()

'hello'

In [60]:
print('\n\n\thello\n\n'.strip())

hello

In [4]:
',,hello***'.strip(',*')

'hello'

In [2]:
#23
"fyi" in "laksjdklashello"

False

In [1]:
#24
from string import punctuation, digits
# print(punctuation)
text = '%p34@y!*-*!t68h#&on404'
for i in punctuation+ digits:
    text = text.replace(i,'')
print(text)

python

In [5]:
a = "hello"
a = a.replace('l','')
print(a)

heo

In [9]:
#25
sentences = 'this is a paragraph which is written just for the purpose of providing content to let the average word length be calculated'
total = 0
for word in sentences.split():
    total += len(word)
print(total/len(sentences.split()))

4.642857142857143