In [ ]:
!pip show pandas

pandas for analysis
- dataset
    - dictionary of items
    - list of dictionary
    - csv file
    - excel file
    - json file
    - sql connection
- creating dataframe
- reading data
- data selection
- manipulating data
- cleaning data
- visulaizing data

In [ ]:
import pandas as pd

In [ ]:
books = {
    'title': ['The art of war','The final empire','Ram'],
    'author': ['Sun Tzu','Brandson Sanderson','Amish Tripathi'],
    'price': [399, 1099, 499] 
}
pd.DataFrame(books)

In [ ]:
movies = [
    {'title':"PK",'director':"Rajkumar Hirani",'year':2014},
    {'title':"I",'director':"Shankar",'year':2015},
    {'title':"Pink",'director':"Aniruddha Roy Chawdhary",'year':2016},
]
pd.DataFrame(movies)

In [ ]:
pd.read_csv('dummy.csv')

In [ ]:
pd.read_json('dummy.json')

In [ ]:
pd.read_excel(r'C:\Users\Shagun\Desktop\dummy.xlsx')

In [ ]:
url = 'https://raw.githubusercontent.com/digipodium/Datasets/main/regression/kc_house_data.csv'
df = pd.read_csv(url)
df

first steps after reading the data
- `df.head(nrows)`- first n rows
- `df.tail(nrows)`- last n rows
- `df.info()` - data types and missing values
- `df.describe()`- summary statistics
- `df.shape` - number of rows and columns
- `df.columns`- column names

In [ ]:
df.head(2)

In [ ]:
df.tail()

In [ ]:
df.sample(10)

In [ ]:
df.info()

In [ ]:
df.describe() # summary statistics for numerical columns (default)

In [ ]:
df.describe(include='object') # summary statistics for object columns

In [ ]:
df.shape

In [ ]:
print(df.columns.tolist())

In [ ]:
# simple sort
df.sort_values('price')

In [ ]:
# style the dataframe to highlight
# df.style.highlight_max(color='lightgreen')

# selecting data in pandas
- dataframe
    - rows
        -iloc - index based location
        - loc - label based location
    - columns
        - single column selection
        - multiple column selection
        - column selection by data type
    - conditional selection
        - boolean indexing
        - query method

In [ ]:
# select rows form iloc
df.iloc[100] # 100 index row

In [ ]:
# random 5 rows
df.iloc[[1,59,100,200,300]] # idx [1,59,100,200,300] rows

In [ ]:
# random 5 rows, with selected columns
df.iloc[[1,10,20],[0,11,12,3,4]]

In [ ]:
df.iloc[15:50, :10] # idx 15-49 rows, 0-9 columns

In [ ]:
# selecting columns based on indexes
df.iloc[:,[0,5,10,11]]

In [ ]:
# updating index column
df = df.set_index('id')
df.head()

In [ ]:
df.sample()

In [ ]:
df.loc[[1954400510, 9465910310]]

### column selection
- dictionary like selection
    - `dataframe['column name]`
- object-like selection
    - `dataframe.column_name`

In [ ]:
df['price']

In [ ]:
df.bedrooms

In [ ]:
df[['bedrooms','price','sqft_living']]

In [ ]:
df.columns

In [ ]:
col_list = ['grade','condition','yr_built']
df[col_list]

In [ ]:
# df.columns.to_list().index('grade')
# df.iloc[:10:10+5]

# boolean indexing
`df[df['column'] > value]`

`df[df['column'] == value]`

`df[df['column'] != value]`

In [ ]:
df[df['price'] > 1000000]

In [ ]:
df[df['condition'] <= 1]

In [ ]:
# 5 star rated houses + 2 floors
df[(df['condition']== 5) & (df['floors']== 2)]

In [ ]:
f1 = df['price'] > 100000
f2 = df['condition'] == 5
f3 = df['floors'] == 2
df[f1 & f2 & f3]

In [ ]:
df[f1 & f2 & f3].reset_index().style.highlight_max(color='blue')

In [ ]:
df[f1 & f2 & f3].reset_index().style.background_gradient(cmap='GnBu')

In [ ]:
df[f1 & f2 & f3].reset_index().style.set_properties(color='red', subset=['price'])

In [73]:
# query
df.query('price > 2500000')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7960900060,20150504T000000,2900000.0,4,3.25,5050,20100,1.5,0,2,3,11,4750,300,1982,2008,98004,47.6312,-122.223,3890,20060
3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,3,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508
3760500116,20141120T000000,3070000.0,3,2.50,3930,55867,1.0,1,4,4,8,2330,1600,1957,0,98034,47.7022,-122.224,2730,26324
1247600105,20141020T000000,5110800.0,5,5.25,8010,45517,2.0,1,4,3,12,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788
7558700030,20150413T000000,5300000.0,6,6.00,7390,24829,2.0,1,4,4,12,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808100150,20150402T000000,3345000.0,5,3.75,5350,15360,1.0,0,1,3,11,3040,2310,2008,0,98004,47.6480,-122.218,3740,15940
1370800515,20141030T000000,2950000.0,4,4.25,4470,5884,2.0,0,1,3,11,3230,1240,2010,0,98199,47.6387,-122.405,2570,6000
6447300365,20141113T000000,2900000.0,5,4.00,5190,14600,2.0,0,1,3,11,5190,0,2013,0,98039,47.6102,-122.225,3840,19250
8964800330,20150407T000000,3000000.0,4,3.75,5090,14823,1.0,0,0,3,11,4180,910,2013,0,98004,47.6200,-122.207,3030,12752
9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,3,10,3540,1310,2007,0,98008,47.5943,-122.110,3470,18270

In [74]:
df.query('price > 2500000 & condition == 5')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
9471200370,20150330T000000,2537000.0,4,3.00,3710,20000,2.0,0,2,5,10,2760,950,1936,0,98105,47.6696,-122.261,3970,20000
6065300840,20150501T000000,2850000.0,4,4.00,5040,17208,1.0,0,0,5,10,2870,2170,1976,0,98006,47.5701,-122.188,4050,18647
4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,5,11,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810
7159200005,20140507T000000,3200000.0,7,4.50,6210,8856,2.5,0,2,5,11,4760,1450,1910,0,98109,47.6307,-122.354,2940,5400
9185700485,20150401T000000,2538000.0,4,3.50,4350,6000,2.0,0,0,5,10,2970,1380,1908,0,98112,47.6277,-122.286,4190,7200
3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,5,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
1069000070,20150415T000000,2795000.0,5,3.25,4590,12793,2.0,0,2,5,11,3590,1000,1928,0,98199,47.6453,-122.410,2920,8609
1954700410,20140801T000000,2546000.0,4,3.00,4190,8805,2.5,0,2,5,9,3490,700,1928,0,98112,47.6181,-122.284,3780,8558
1732800780,20150212T000000,3065000.0,5,3.00,4150,7500,2.5,0,4,5,11,3510,640,1909,0,98119,47.6303,-122.362,2250,4050
5317100750,20140711T000000,2920000.0,4,4.75,4575,24085,2.5,0,2,5,10,3905,670,1926,0,98112,47.6263,-122.284,3900,9687
1346300150,20141020T000000,3300000.0,8,4.00,7710,11750,3.5,0,0,5,12,6090,1620,1904,0,98112,47.6263,-122.314,4210,8325
6613000930,20140902T000000,2950000.0,4,3.25,3890,25470,2.0,1,3,5,10,3030,860,1923,0,98105,47.6608,-122.269,4140,19281

In [75]:
df.query('price > 2500000 & condition == 5').sort_values('price')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
9471200370,20150330T000000,2537000.0,4,3.00,3710,20000,2.0,0,2,5,10,2760,950,1936,0,98105,47.6696,-122.261,3970,20000
9185700485,20150401T000000,2538000.0,4,3.50,4350,6000,2.0,0,0,5,10,2970,1380,1908,0,98112,47.6277,-122.286,4190,7200
1954700410,20140801T000000,2546000.0,4,3.00,4190,8805,2.5,0,2,5,9,3490,700,1928,0,98112,47.6181,-122.284,3780,8558
1069000070,20150415T000000,2795000.0,5,3.25,4590,12793,2.0,0,2,5,11,3590,1000,1928,0,98199,47.6453,-122.410,2920,8609
6065300840,20150501T000000,2850000.0,4,4.00,5040,17208,1.0,0,0,5,10,2870,2170,1976,0,98006,47.5701,-122.188,4050,18647
5317100750,20140711T000000,2920000.0,4,4.75,4575,24085,2.5,0,2,5,10,3905,670,1926,0,98112,47.6263,-122.284,3900,9687
6613000930,20140902T000000,2950000.0,4,3.25,3890,25470,2.0,1,3,5,10,3030,860,1923,0,98105,47.6608,-122.269,4140,19281
3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,5,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
1732800780,20150212T000000,3065000.0,5,3.00,4150,7500,2.5,0,4,5,11,3510,640,1909,0,98119,47.6303,-122.362,2250,4050
7159200005,20140507T000000,3200000.0,7,4.50,6210,8856,2.5,0,2,5,11,4760,1450,1910,0,98109,47.6307,-122.354,2940,5400
1346300150,20141020T000000,3300000.0,8,4.00,7710,11750,3.5,0,0,5,12,6090,1620,1904,0,98112,47.6263,-122.314,4210,8325
4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,5,11,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810